html {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
    background-color: #f2f2f2;
}

h1 {
    color: white;
    font-size: 28px;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 2.5;
    font-family: Georgia;
    word-spacing: 0.05em;
    letter-spacing: 0.02em;
}

.wrapper {
    position: relative;
    margin: auto;
    padding: 0%;
    max-width: 75vw;
}

.midground, .foreground {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block
}

body {
    background-color: rgba(red, green, blue, alpha);
}

.midground {
    background-color: hsla(hue, saturation, lightness, alpha);
}

.foreground {
    background-color: hsla(hue, saturation, lightness, alpha);
}

/* HEADER */

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    position: fixed;
    line-height: 1.25;
    font-weight: 900;
    background-color: thistle;
    top: 0;
    width: 100%;
}
.header li {
    display: inline-block;
}

.header a {
    display: block;
    color: teal;
    padding: 30px 20px;
}

#ABOUT, /* Offset linked sections to account for header. */
#PORTFOLIO,
#CONTACT {
    padding-top: 77px;
    margin-top: -77px;
}

.space .sample .text {
    font-family: "Space Mono", monospace;
  }

  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v1/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v1/vdpMRWfyjfCvDYTz00NEPGaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }